ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background: pink;
}
.nav a{
  color:white;
}
.nav a:hover{
  color: blue;
}
.color-info {
  border: 3px solid black;
}
#about_blue{
  background-color: #6495ED;
}
#about_yellow{
  background-color: #FFEBCD;
}
#about_blue ul li {
  color: blue;
}
#about_yellow ul li {
  color: orange;
}
.important {
  font-size: 16px;
  font-weight: bold;
}
